<!DOCTYPE html>
<html>

<head>
  <title>Art Gallery</title>
</head>

<body>
  <h1>Art Gallery</h1>
  <h3>
    Artwork Upload
  </h3>
  <form action="/uploadArtwork" method="POST" enctype="multipart/form-data">
    <input type="text" name="uid" placeholder="Enter UID" />
    <br>
    <input type="text" name="artistname" placeholder="Enter artist name" />
    <br>
    <input type="number" name="age" placeholder="Enter artist age" />
    <br>
    <input type="text" name="artistlocation" placeholder="Enter artist place" />
    <br>
    <input type="file" name="Artwork" />
    <br>
    <input type="submit" value="Upload Artwork" />
  </form>

  <!-- <h3>
    Art View
  </h3>
  <form action="/viewArtwork" method="GET">
    <input type="number" name="uid" placeholder="Enter UID" />
    <input type="submit" value="View Artwork" />
  </form> -->


  <br /><br /><br />


</body>

</html>